@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&display=swap'); 

:root {
    --fonte-poppins:'Poppins', sans-serif;
    --opensans: 'Open Sans', sans-serif;
    --cor1: #593954;
    --cor2: #013440;
    --cor3: #026873;
    --cor4: #038C8C;
    --cor5: #038C7F;
    --cor6: #0A346D;
    --cor7: #2362BA;
    --corfundo: rgb(173, 173, 173);
}
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--corfundo);
}

header {
    background-image: linear-gradient(to top, #0A346D, #2362BA );
    color: rgb(255, 255, 255);
    padding-bottom: 30px;
  
}


header h1{
    display: inline-block;  
    font: normal bold 2.5em var(--fonte-poppins);
    padding: 30px 0px 10px 100px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.514);
}
header nav {
    display: inline-block;
    margin-left: 9.5em;
}
header a { 
    font: normal normal 1.5em var(--fonte-poppins);
    color: black;
    text-decoration: none;
    padding: 10px 10px;
    margin-right:20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.082);
    background-color: #d9d9d9de;
    box-shadow: 2px 2px 2px black;
    border-radius: 5px;
}

header a:hover{
    text-decoration: underline;   
}

main {
    margin:auto;
    background-color:#1b4279c7;
    padding: 30px 20px;
    min-width: 10rem;
    max-width: 1000px;
}

main h1{
    font:italic bold 2.5em 'Open Sans', sans-serif; 
    text-decoration: underline;
    color: white;
    margin-bottom: 20px;
}

main h2{
    margin-top: 20px;
}

main a{
    font: normal bold 24px Arial, Helvetica, sans-serif; 
    color: white;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

main img {
   display: block;
    margin: auto;
    width: 50%;
}
footer {
    background-color: var(--cor6);
    margin-top: 10px;
    padding: 10px;
 }

 footer p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
 }

 /*Responsividade*/ 
/*Para o header*/

 @media screen and (max-width:1180px) {
    header nav{
        display:inline-block;
        margin-left: 5rem;
    }
}
@media screen and (max-width:1108px) {
    header nav{
        display:inline-block;
        margin-left: 3rem;
    }
}

@media screen and (max-width:1075px) {
    header nav{
        display:inline-block;
        margin-left: 1rem;
    }
}

@media screen and (max-width:1060px) {
    header nav{
        display:inline-block;
        margin-left: 1rem;
    }
}

@media screen and (max-width:1044px) {
    header h1{
        display: block;
        text-align: center;
        
    }
    header nav{
        display: block;
        text-align:left;
        margin-top: 20px;
    }
   
}

@media screen and (max-width:500px) {
    header{
        padding:0;
    }
    header h1{
        display: block;
        text-align: center;  
        padding:30px;     
    }
    header nav{
        display: block;
        margin: 0;
        text-align: center;
    }
   header a{
    display:block;
    margin: 0;
    box-shadow: 2;
    border-radius: 0rem;
   }
}

/*Para o main*/

@media screen and (max-width:1044px) {
    main img{
        width: 60%;
    }
}

@media screen and (max-width:700px) {
    main img{
        width: 70%;
    }
}

@media screen and (max-width:600px) {
    main img{
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    main img{
        width: 90%;
    }
}

@media screen and (max-width:400px) {
    main img{
        width: 100%;
    }
}